ul li {
  list-style-type: none;
  text-align: center;
}
.fun {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: .5em;
}
.main_header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.main_div {
  background-color: #f9f9f9;
}
.video_snippet {
  margin-top: .25em;
}
.fun:hover {
  opacity: .65;
}
