.main_header {
  font-size: 5em;
}
ul li {
  list-style-type: none;
}
.main_div {
  display: flex;
  flex-direction: column;
}
.input_value {
  display: flex;
}
.input_class {
  flex-grow: 1;
}
.video_detail {
  display: flex;
  flex-wrap: wrap;
}
.video_detail_1 {
  flex-grow: 1;
  display: flex;
}
.video_detail_2 {
  flex-grow: 1;
}
.videodt_iframe {
  flex-grow: 1;
}
