
.videodt_iframe {
  width: 90%;
  height: 250px;
}
.video_detail {
  width: 100%;
  text-align: center;
}
.video_detail_1 {
  text-align: center;
}
.video_detail_2 {
  text-align: center;
  border-top: .5px solid black;
}
.video_title, .video_description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: .5em 0 1em 0;
}
.video_title {
  font-weight: bold;
}
@media (min-width: 760px) {
  .video_detail {
    width: 70%;
    float: left;
  }
  .videodt_iframe {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .videodt_iframe {
    height: 450px
  }
}

@media (min-width: 1400px) {
  .videodt_iframe {
    height: 550px
  }
}
